body {
	background-color: #1f1f1f;
	color: #fff;
	font-family: Arial, sans-serif;
	flex-direction: column;
	align-items: center;
	padding: 20px;
}

li {
	list-style-type: none;
}

.vubor {
	display: flex;
	gap: 5%;
	margin-top: 3%;
}

.title {
	margin-top: -1%;
}

.one li {
	margin-left: 18%;
}

.one input {
	margin-left: 23%;
}

.two input {
	margin-left: 15%;
}
.three input {
	margin-left: 17%;
}

button {
	background-color: rgb(38, 38, 171);
	color: white;
	border-radius: 4px;
	width: 100px;
	height: 50px;
}

@media (max-width: 700) {
	.vubor {
		display: grid;
	}
}
